#video {
    height:480px;
    width:640px;
    border-width:3px;
    border-style: solid;
    margin:auto;
    position:relative;
}

#vumcontainer {
    height:100px;
    width:50px;
    margin:auto;
    bottom:0;
    right:0;
    background: url('/img/vumeter.png');
    position: absolute;
}

#vuminside{
    background: #fff;
    width:50px;
    height:100px;
    margin:auto;
    top: 0;
    position:absolute;
}

.border-green {
    border-color: #008000;
}

.border-blue {
    border-color: #0000d0;
}
