body {
    background-color: #fcfcfc;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin:auto;
    width:100px;
}

.text  {
    margin:auto;
    width:600px;
}

.video {
    margin-bottom:20px;
}

A.button {
    padding:20px;
    display:block;
    color:#ffffff;
    text-align:center;
    font-weight:bold;
}

.header {
    text-align: center;
}

button {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    color:#ffffff;
    font-size:22px;
    margin:-5px 50px 10px 50px;
    min-width:200px;
    font-weight:bold;
}

.red-bold {
    font-weight: bold;
    color: red;
}

#step1, #step2, #step3 {
    max-width:1000px;
    border-radius:20px;
    margin:auto;
    padding:10px;
}

#begintest { 
    background-color: #008000;
}

#reloadtest { 
    background-color: #3080f0;
}

#endtest {
    background-color: #b20000;
    display:none;
}

.green {
    background-color:#00aa00;
}

.orange {
    background-color:orange;
}

.red {
    background-color:red;
}